*{
    text-decoration: none;
    color: black;
}

.linkDiv{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    font-size: 2vh;
}

.rightLeaning{
text-align: right;
}

.leftLeaning{
text-align: left;

}