*{
    text-decoration: none;
    color: black;
    margin: 0;
}


* {
  font-family: "";
  font-weight: 400;
  font-style: normal;
}



body{
    background-color: rgb(255, 255, 255);
}

.linkDiv{
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
    display: grid;
    font-size: 2vw;
    text-align: center;
    padding: 2%;
    padding-bottom: 0 ;
    padding-top: 0;
}

header{
    background-color: rgb(226, 226, 226);
    margin-bottom: 2vh;
}

.linkDiv h1{
    font-size: 6vw;
}

.linkDiv a{
    max-height: min-content;
    bottom: -2vw;
    position: relative;
    padding: 3%;

}

.linkDiv a:hover{
    background-color: rgb(198, 202, 204);
    border-radius: 2rem;
}


.error{
    text-align: center;
    color: rgba(196, 0, 0, 0.83);
}

.success{
    text-align: center;
    color: rgba(0, 150, 40, 0.83);
}


main{
    grid-template-columns: repeat(1,1fr);
    display: grid;
    place-items: center;
}

form{
    grid-template-columns: repeat(1,1fr);
    display: grid;
    width: 40%;
    row-gap: 5px;
}


.outerDiv{
    grid-template-columns: repeat(1, 1fr);
    display:  grid;
    padding: 1%;
    width: 70%;
    place-items: center;
    row-gap: 5px;
}



.innerDiv{
    border: 1px solid black;
    padding: 1%;
    width: 70%;
}

.innerHeader{
    display: flex;
    gap: 5px;
    min-height: 34px;
}
.innerMain{
    padding: 1%;
}

.positionBottom{
    position: relative;    
    display: flex;
    gap: 5px;
}

.positionRight{
    margin-left: auto;
    position: relative;
    display: flex;
    gap: 5px;
}

.positionRight p{
    font-size:medium;
    position:relative;
    bottom: 4px;
    color: gray;
    font-size: smaller;
}

.positionRight input{
    position:relative;
    bottom: 4px;
}


.positionBottom p{
    font-size: small;
    position:relative;
    bottom: -3px;
}

.hidden{
    display: none !important;
}


.editStyle , .deleteStyle{
    grid-template-columns: 1fr;
    display: grid;
    row-gap: 5px;
    position:relative;
    bottom: 4px;
}

.iconSmall{
    font-size: 1rem !important;
    user-select: none;
    cursor: pointer;
    max-height: min-content;
}

.iconSmall:hover{
    background-color: rgb(201, 201, 201);
}

.checked{
    background-color: rgb(141, 141, 141) !important; 
}

.sendMessageForm{
    grid-template-columns: 10fr 1fr;
    display: grid;
}

.filters{
    padding: 1%;
    display: flex;
    gap: 0.7vw;
    font-size: 2vw;
}

#filterTxt{
    place-self: center;
    color: darkred;
    font-size: larger;
}

#createRoomForm{
    width: 40vw;
    margin-bottom: 2vh;

}

.innerMain a{
    color: blue;
}

.innerMain a:hover{
    background-color: rgb(91, 176, 255);
    border-radius: 4px;
}

.outerFilters{
    border: 1px solid black;
    place-items: center;
    font-size: 2vw;
    padding: 1%;
    margin-bottom: 1%;
}

.filters button{
    font-size: 2vw;
    border: 0.2vw solid black;
    border-radius: 1vw;

}

.filters button:hover{
    background-color: rgb(223, 227, 228);

}

.usingFilter{
    background-color: rgb(190, 190, 190) !important;

}

