*{
    text-decoration: none;
    color: black;
    margin: 0;
}

.linkDiv{
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
    display: grid;
    font-size: 2vw;
    text-align: center;
    padding: 2%;
    padding-bottom: 0 ;
}

.linkDiv h1{
    font-size: 6vw;
    position: relative;
    bottom: 2vw;

}

.error{
    text-align: center;
    color: rgba(196, 0, 0, 0.83);
}

.success{
    text-align: center;
    color: rgba(0, 150, 40, 0.83);
}


main{
    grid-template-columns: repeat(1,1fr);
    display: grid;
    place-items: center;
}

form{
    grid-template-columns: repeat(1,1fr);
    display: grid;
    width: 40%;
    row-gap: 5px;
}


.outerDiv{
    grid-template-columns: repeat(1, 1fr);
    display:  grid;
    padding: 1%;
    width: 70%;
    place-items: center;
    row-gap: 5px;
}



.innerDiv{
    border: 1px solid black;
    padding: 1%;
    width: 70%;
}

.innerHeader{
    display: flex;
    gap: 5px;
    min-height: 34px;
}
.innerMain{
    padding: 1%;
}

.positionBottom{
    position: relative;    
    display: flex;
    gap: 5px;
}

.positionRight{
    margin-left: auto;
    position: relative;
    display: flex;
    gap: 5px;
}

.positionRight p{
    font-size:medium;
    position:relative;
    bottom: 4px;
    color: gray;
    font-size: smaller;
}

.positionRight input{
    position:relative;
    bottom: 4px;
}


.positionBottom p{
    font-size: small;
    position:relative;
    bottom: -3px;
}

.hidden{
    display: none;
}


.editStyle , .deleteStyle{
    grid-template-columns: 1fr;
    display: grid;
    row-gap: 5px;
}

.iconSmall{
    font-size: 1rem !important;
}

.sendMessageForm{
    grid-template-columns: 10fr 1fr;
    display: grid;
}

.filters{
    padding: 1%;
}

#filterTxt{
    place-self: center;
    color: darkred;
    font-size: larger;
}

#createRoomForm{
    width: 40vw;
}

.innerMain a{
    color: blue;
}